# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Project Specific
# The 'Indian' dataset is ~334MB (too large for standard Git repos)
Indian/
Indian_keypoints/

# OS
.DS_Store
